.image-border {
    border-radius: 3%;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item {
    text-align: center;
    color: #333;
    text-decoration: none;
    flex-grow: 1;
  }
  
  .nav-item img {
    width: 24px;
    height: 24px;
  }
  
  .nav-item span {
    display: block;
    font-size: 12px;
  }
  